//@use "sass:math";
//
//$spacer: 4px !default;
//$grid-gutter: $spacer * 6 !default;
//$container-padding-x: math.div($grid-gutter, 2) !default;
//
//.app-page-title-wrapper {
//  align-items: center;
//  display: flex;
//
//  .app-page-title-icon {
//    align-content: center;
//    align-items: center;
//    border-radius: 0.25rem;
//    display: flex;
//    font-size: 2rem;
//    height: 46px;
//    margin-right: $container-padding-x;
//    text-align: center;
//    width: 46px;
//
//    i {
//      margin: auto;
//    }
//  }
//
//  .app-page-title-texts {
//    h1,
//    h2 {
//      width: 100%;
//    }
//  }
//}
//
//.icon-gradient {
//  color: #f66277 !important;
//}
