$class-name-root: "subject-select";
$class-name-filter: "subject-select-filter";
$sidebar-width: 320px;

.#{$class-name-root} {
  &__card {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-height: 100%;
    max-width: 100%;
  }

  &__toolbar {
    min-height: 48px;
  }

  &__second-bar {
    min-height: 23px;
  }

  &__main {
    flex: 1 1 auto;
    overflow: hidden;
    display: flex;
    position: relative;

    &--sidebar-active {
      .#{$class-name-root}__sidebar {
        transform: translateX(0%);
      }

      .#{$class-name-root}__content {
        margin-left: $sidebar-width;
      }
    }
  }

  &__sidebar {
    display: flex;
    overflow: hidden;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-110%);
    position: absolute;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    z-index: 0;

    .#{$class-name-filter} {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;

      .#{$class-name-filter}__content {
        flex: 1 1 auto;
        overflow: hidden auto;
      }

      .#{$class-name-filter}__actions {
        align-items: center;
        display: flex;
        flex: none;
        min-height: 40px;
        justify-content: center;
      }
    }
  }

  &__content {
    width: 100%;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto auto;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex: none;
    min-height: 52px;
    padding: 0.5rem;
  }
}
