.a-datatable {
  .v-data-table-column--last-fixed {
    border-right: none;
    border-left: none;
    position: sticky;
    z-index: 4;
    right: 0 !important;
    left: auto !important;
  }
}

.v-theme--light {
  .a-datatable {
    &.v-data-table .v-table__wrapper > table tbody > tr:hover > td {
      background-color: #eee;
    }
  }
}

.v-theme--dark {
  .a-datatable {
    &.v-data-table .v-table__wrapper > table tbody > tr:hover > td {
      background-color: #505050;
    }
  }
}
