@use 'sass:map';
@use 'vuetify/lib/styles/settings/_variables.scss' as vars;

$class-name-root: 'dam-image-detail';
$sidebar-width: 600px;
$toolbar-height: 50px;
$toolbar-height-mobile: 48px;
$image-height-mobile: 35dvh;
$bg-color-light: #f1f4f6;
$bg-color-dark: #000;
$bg-sidebar-color-light: #fff;
$bg-sidebar-color-dark: #1a1a1a;

.#{$class-name-root} {
  min-height: 100vh !important;
  background-color: #f1f4f6;
  position: relative;
  overflow: hidden !important;

  &__wrapper {
    width: 100%;
    height: 100vh;

    .asset-image.asset-image--placeholder {
      width: 100% !important;
      height: 100% !important;
    }
  }

  &__content {
    @media #{map.get(vars.$display-breakpoints, 'md-and-down')} {
      flex-direction: column;
      height: calc(100vh - $toolbar-height-mobile) !important;
      overflow: hidden;
    }
  }

  &__sidebar {
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    @media #{map.get(vars.$display-breakpoints, 'md-and-down')} {
      width: 100%;
      position: relative;
      display: flex;
      height: calc(100vh - $toolbar-height-mobile) !important;
      overflow: hidden;
    }

    @media #{map.get(vars.$display-breakpoints, 'md-and-up')} {
      transform: translateX(110%);
      position: absolute;
      top: 0;
      right: 0;
      width: $sidebar-width;
    }
  }

  &__left {
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;

    @media #{map.get(vars.$display-breakpoints, 'md-and-down')} {
      height: 0;
      max-height: 0;
      flex: 0 0 auto;
    }

    @media #{map.get(vars.$display-breakpoints, 'md-and-up')} {
      height: calc(100vh - $toolbar-height);
      max-height: calc(100vh - $toolbar-height);
    }
  }

  &__image {
    max-height: calc(100vh - $toolbar-height);
    width: auto;
  }

  &--sidebar-active {
    .#{$class-name-root}__sidebar {
      @media #{map.get(vars.$display-breakpoints, 'md-and-down')} {
        height: calc(100vh - $toolbar-height-mobile - $image-height-mobile) !important;
      }

      @media #{map.get(vars.$display-breakpoints, 'md-and-up')} {
        display: flex;
        transform: translateX(0%);
      }
    }

    .#{$class-name-root}__left {
      @media #{map.get(vars.$display-breakpoints, 'md-and-down')} {
        height: $image-height-mobile;
        max-height: $image-height-mobile;
      }

      @media #{map.get(vars.$display-breakpoints, 'md-and-up')} {
        padding-right: $sidebar-width;
      }
    }
  }
}

.v-theme--light {
  .#{$class-name-root} {
    background-color: $bg-color-light;

    &__sidebar {
      background-color: $bg-sidebar-color-light;
    }
  }
}

.v-theme--dark {
  .#{$class-name-root} {
    background-color: $bg-color-dark;

    &__sidebar {
      background-color: $bg-sidebar-color-dark;
    }
  }
}
