$layout-border-color: rgb(var(--v-border-color) var(--v-border-opacity));
$layout-border-color: rgba(var(--v-border-color), var(--v-border-opacity));
$layout-border-width: 1px;

.system-border-t {
  border-top: $layout-border-width solid $layout-border-color !important;
  border-top-style:  solid  !important;
  border-top-width: $layout-border-width !important;
  border-top-color: $layout-border-color !important;
}

.system-border-r {
  border-right: $layout-border-width solid $layout-border-color !important;
  border-right-style:  solid  !important;
  border-right-width: $layout-border-width !important;
  border-right-color: $layout-border-color !important;
}

.system-border-b {
  border-bottom: $layout-border-width solid $layout-border-color !important;
  border-bottom-style:  solid  !important;
  border-bottom-width: $layout-border-width !important;
  border-bottom-color: $layout-border-color !important;
}

.system-border-l {
  border-left: $layout-border-width solid $layout-border-color !important;
  border-left-style:  solid  !important;
  border-left-width: $layout-border-width !important;
  border-left-color: $layout-border-color !important;
}

.system-border-x {
  border-left: $layout-border-width solid $layout-border-color !important;
  border-right: $layout-border-width solid $layout-border-color !important;
  border-left-style:  solid  !important;
  border-left-width: $layout-border-width !important;
  border-left-color: $layout-border-color !important;
  border-right-style:  solid  !important;
  border-right-width: $layout-border-width !important;
  border-right-color: $layout-border-color !important;
}

.system-border-y {
  border-top: $layout-border-width solid $layout-border-color !important;
  border-bottom: $layout-border-width solid $layout-border-color !important;
  border-top-style:  solid  !important;
  border-top-width: $layout-border-width !important;
  border-top-color: $layout-border-color !important;
  border-bottom-style:  solid  !important;
  border-bottom-width: $layout-border-width !important;
  border-bottom-color: $layout-border-color !important;
}

.system-border-a {
  border: $layout-border-width solid $layout-border-color !important;
  border-left-style:  solid  !important;
  border-left-width: $layout-border-width !important;
  border-left-color: $layout-border-color !important;
  border-right-style:  solid  !important;
  border-right-width: $layout-border-width !important;
  border-right-color: $layout-border-color !important;
  border-top-style:  solid  !important;
  border-top-width: $layout-border-width !important;
  border-top-color: $layout-border-color !important;
  border-bottom-style:  solid  !important;
  border-bottom-width: $layout-border-width !important;
  border-bottom-color: $layout-border-color !important;
}

